@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
}

body {
  @apply bg-slate-950 text-white;
}

a {
  @apply text-indigo-300 hover:text-indigo-200;
}

::selection {
  @apply bg-indigo-500/30 text-white;
}
